<%- include("partials/header"); -%>

    <p class="aboutContent">Seeing and hearing about local and world events, such as natural disasters, catastrophic
        events, and crime reports, may cause children to experience stress, anxiety, and fears. There have also been changes in how news
        is reported that increase the potential for children to experience negative effects.
        <br><br>
        That is why we have made a child friendly news website to keep them updated with positive news around the globe.
        The website has news exclusively published for children. The language is kept simple and the content short
        for better understanding. In case, the child is not willing to read, we have provided the listen button to
        listen the news.
        <br><br>
        To join the publishers' community signup and start to create your news articles for children. 
    </p>

    <%- include("partials/footer"); -%>